@import '~breakpoint-sass/stylesheets/breakpoint';

$dzn-gutter: 2rem;
$dzn-small-gutter: $dzn-gutter / 4;

$dzn-off-white: #fefeee;
$dzn-off-white-2: #e6e6d3;
$dzn-black: #0d0801;
$dzn-blue: #3a5894;
$dzn-brown: #1a0f00;
$dzn-pink: #e61040;
$dzn-yellow: #ff971d;

// breakpoints
$bp-mobile-max: 320px;
$bp-tablet-min: 321px;
$bp-tablet-max: 768px;
$bp-desktop-min: 769px;

@mixin bp-mobile {
  @include breakpoint(max-width $bp-mobile-max) {
    @content;
  }
}

@mixin bp-tablet-down {
  @include breakpoint(max-width $bp-tablet-max) {
    @content;
  }
}

@mixin bp-tablet {
  @include breakpoint(min-width $bp-tablet-min, max-width $bp-tablet-max) {
    @content;
  }
}

@mixin bp-tablet-up {
  @include breakpoint(min-width $bp-tablet-min) {
    @content;
  }
}

@mixin bp-desktop {
  @include breakpoint(min-width $bp-desktop-min) {
    @content;
  }
}
