$dzn-gutter: 2rem;
$dzn-small-gutter: $dzn-gutter / 4;

$dzn-off-white: #fefeee;
$dzn-off-white-2: #e6e6d3;
$dzn-black: #0d0801;
$dzn-blue: #3a5894;
$dzn-brown: #1a0f00;
$dzn-pink: #e61040;
$dzn-yellow: #ff971d;

// breakpoints
$bp-mobile: max-width 320px;
$bp-tablet: max-width 768px;
