/* assets/stylesheets/sort.scss */
@import 'settings';

#app {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.u-border-bottom {
}

.shuttle,
.stats {
  border-bottom: 1px solid $dzn-blue;
  padding: 20px 1%;
  // box-shadow: 0 2px 1px #E0E0EA;
}

.stats {
  padding: 10px;

  font-family: Courier, monospace;
  font-size: 12px;

  display: flex;
  flex-flow: row nowrap;

  dt {
  }

  dd {
    padding: 0 25px 0 5px;
    text-align: right;
    font-weight: bold;
  }
}

.list {
  padding: 1%;
  display: flex;
  flex-flow: row nowrap;

  .__entry {
    display: block;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 2px;
  }
}

.value {
  width: 100%;
  background: $dzn-black;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 0.85px;
//  font-weight: bold;
  text-align: center;
  padding: 5px 5px 20px 5px;

  // The current value we're checking
  &.-current { background-color: #2C2C2C; }

  // The comparison against .-current
  &.-compared { background-color: #211; }

  &.-f0 { background-color: #141; }
  &.-f1 { background-color: #114; }
  &.-f2 { background-color: #411; }
}

.buttons {
  display: flex;
  flex-flow: row-inline;
  justify-content: space-between;

  > li {
    width: 100%;
    margin: 0 2px;
  }
}

.button {
  cursor: pointer;
  width: 100%;
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  text-align: center;
  margin: 4px 0;
  padding: 20px;
  border: none;
  background-color: #773500;
  transition: background-color 0.1s ease-in;

  &:focus { outline: 0; }
  &:disabled { opacity: 0.8; cursor: not-allowed; }
  &:hover {
    background-color: #80400A;
  }
}

