:ruby
  content_for :body_class, 'cv'
  content_for :show_h1, false

%h2.-caps Quinton Harris
%ul
  %li #{link_to 'quinton.harris@gmail.com', 'mailto:quinton.harris@gmail.com'}

%div
  I build tools for people to do their jobs.

%h2.-caps Skills
%div
  %ul.inlineList
    %li ruby
    %li javascript
    %li css
    %li sql (mysql, ms sql)
    %li c#

%h2.-caps Education
%ul
  %li
    BS Computer Science
    %br
    University of Alaska 2006
  %li
    Certificate in iOS and Mac Application Development
    %br
    University of Washington 2014

%h2.-caps Work Experience


%h2 Totokaelo

