.flexRow
  %section
    %h2 projects

    %ul
      %li= link_to 'sorting visualizations (codepen)', 'https://s.codepen.io/dznqbit/debug/QgJRNo/vPMKKVZzXgQM', target: '_blank'
      %li= link_to 'interaction of color (codepen)', 'https://codepen.io/dznqbit/pen/MYGjMO'

  %section.contact
    %h2 contact

    %ul
      %li Quinton Harris
      %li @dznqbit
      %li quinton.harris@gmail.com

%section.articles
  - blog.articles[0...5].each do |article|
    %article
      %h2= link_to article.title, article.url, class: 'link'
      = article.body
